body{ 
    background-image: url("http://wallfon.com/walls/space/a-beautiful-deep-blue-nebula.jpg");
    background-color: turquoise;
}
div{width: 500px; 
    border: 25px solid blue;
    padding: 25px;
    margin: 25px;
    margin-left: 35%4it init
}


